.reversiSquare {
	-fx-background-color: #229922;
	-fx-background-radius: 0em;
	-fx-border-color: #222222;	
}

.label {
	-fx-font-size: 18;
	-fx-text-fill: black;
}

.transcript {
	-fx-font-size: 14;
	-fx-text-fill: black;
}

.customBorder {
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-color: #222222;
}
